
<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="icon" href="../images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../css/sendit.css" >
  <link rel="stylesheet" type="text/css" href="../css/nav.css" >
  <script src="../js/sendit.js" language="javascript" type="text/javascript"></script>
  <title>SendIt : Profile</title>
</head>
<body>

<div class="row">
<ul id="ui_one">
  <li><img id="template_logo" src="../images/logo_w.png"></li>
  <li><a href="./user_profile.html">Profile</a></li>
  <li><a class="active" href="#">Update order</a></li>
  <li><a href="#">Create Order</a></li>
  <li><a href="#">Order Details</a></li>
</ul>
<ul id="ui_two">
  <li><h2> Admin Joel, </h2></li>
  <li><a href="./login.html">Logout</a></li>
</ul>
</div>

<div class="row">
<div id="admin_list" class="column40">
  lllllllllllllllllllllll
</div>
<div id="admin_form" class="column60">
  kkkkkkkkkkkkkkkkkkkkkkkkkk
</div>
 </div>

</body>
</html>