
<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="icon" href="../images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../css/sendit.css" >
  <link rel="stylesheet" type="text/css" href="../css/nav.css" >
  <script src="../js/sendit.js" language="javascript" type="text/javascript"></script>
  <title>SendIt : Profile</title>
</head>
<body>

<div class="row">
<ul id="ui_one">
  <li><img id="template_logo" src="../images/logo_w.png"></li>
  <li><a href="./user_profile.html">Profile</a></li>
  <li><a class="active" href="./admin.html">Update order</a></li>
  <li><a href="./create_order.html">Create Order</a></li>
  <li><a href="#">Order Details</a></li>
</ul>
<ul id="ui_two">
  <li><h2> Admin Joel, </h2></li>
  <li><a href="./login.html">Logout</a></li>
</ul>
</div>

<div class="row" id="Admin_pg">
<div id="admin_list" class="column40">
  <div class="search_form bg_colour">
    <form>
      <div class="inputfield">
     <input type="text" name="search" id="search" placeholder="Search">
  </div>
    </form>
  </div><br>
    <table id="admin_table">
<tr>
  <th>Order_ID</th>
  <th>Current C.P</th>
  <th>Next C.P</th>
  <th>Status</th>
  <th></th>
</tr>
<tr>
  <td>12345</td>
  <td>Kangoji</td>
  <td>Kiganda</td>
  <td>Transit</td>
  <td><a href='#'>update</a></td>
</tr>
<tr>
  <td>74936</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>New order</td>
  <td><a href='#'>update</a></td>
</tr>
<tr>
  <td>53749</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>New order</td>
  <td><a href='#'>update</a></td>
</tr>
<tr>
  <td>96413</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Delivered</td>
  <td><a href='#'>update</a></td>
</tr>
<tr>
  <td>25347</td>
  <td>Kisungu</td>
  <td>Kiganda</td>
  <td>Transit</td>
  <td><a href='#'>update</a></td>
</tr>
<tr>
  <td>23467</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Delivered</td>
  <td><a href='#'>update</a></td>
</tr>
<tr>
  <td>09812</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Transit</td>
  <td><a href='#'>update</a></td>
</tr>
<tr>
  <td>34568</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Transit</td>
  <td><a href='#'>update</a></td>
</tr>
    </table>
</div>
<div id="admin_form" class="column60">
  <div class="sendit_form bg_colour" >
<form action="#" id="order_status_update" method="Post">
  <h3 id="formheading">Update Order Information</h3>
  <div class="inputfield">
     <label for="order_id">Order ID</label>
     <input id="order_id" disabled="true" type="text" name="order_id" value="23467">
  </div>
  <div class="inputfield">
     <label for="c_location">Current Location</label>
     <input id="c_location" type="text" name="c_location" value="mosko">
  </div>
  <div class="inputfield">
     <label for="n_checkp">Next Check Point</label>
     <input id="n_checkp" type="text" name="n_checkp" value="Kiganda">
  </div>
  <div class="inputfield">
     <label for="status">Status</label>
     <input id="status" type="text" name="status" value="Transit">
  </div>
  <div class="inputfield">
     <label for="signup"></label>
     <input id="update" type="submit" value="Update" name="update">
  </div>
</form>

</div>
</div>
 </div>

</body>
</html>