<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="icon" href="../images/logo.png" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="../css/sendit.css" >
	<script src="../js/sendit.js" language="javascript" type="text/javascript"></script>
	<title>SendIt : Login</title>
</head>
<body>
	<center><img id="template_logo" src="../images/logo.png"></center>
	
<div class="sendit_form" >
<form action="./manage_parcels.html" method="GET">
	<h3 id="formheading">Admin Login Here</h3>
	<div class="inputfield">
	   <label for="username">Username</label>
	   <input type="text" name="username" id="username" placeholder="Username">
	</div>
	<div class="inputfield">
	   <label for="password">Password</label>
	   <input type="password" id="password" name="password" placeholder="Password">
	</div>
	<div class="inputfield">
	   <label></label>
	   <input type="submit" value="Login" name="login" placeholder="Password">
	</div>
	<h4 class="formfooter"><a href="./login.html">User login</a></h4>
	<h4 class="formfooter">create an account: <a href="./index.html">SignUp</a><h4>
</form>

</div>
</body>
</html>