
<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="icon" href="../images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../css/sendit.css" >
  <link rel="stylesheet" type="text/css" href="../css/nav.css" >
  <script src="../js/sendit.js" language="javascript" type="text/javascript"></script>
  <title>SendIt : Profile</title>
</head>
<body>

<div class="row">
<ul id="ui_one">
  <li><img id="template_logo" src="../images/logo_w.png"></li>
  <li><a href="./user_profile.html">Profile</a></li>
  <li><a href="./create_order.html">Create Order</a></li>
  <li><a class="active" href="./owened_orders.html">Order Details</a></li>
</ul>
<ul id="ui_two">
  <li><h2> Hi Joel, </h2></li>
  <li><a href="./login.html">Logout</a></li>
</ul>
</div>

<div class="row create_order">
  <div id="admin_form" class="column60">
  <div class="sendit_form bg_colour" >
<form action="#" id="order_status_update" method="Post">
  <h3 id="formheading">Create Parcel Delivery Order</h3>
  <div class="inputfield">
     <label for="size">Parcel Size</label>
     <input id="size" type="text" name="size" placeholder="Parcel Size">
  </div>
  <div class="inputfield">
     <label for="pick_location">Pick Up Location</label>
     <input id="pick_location" type="text" name="pick_location" placeholder="Pick Up Location">
  </div>
  <div class="inputfield">
     <label for="destination">Destination</label>
     <input id="destination" type="text" name="destination" placeholder="Destination">
  </div>
  <div class="inputfield">
     <label for="signup"></label>
     <input id="update" type="submit" value="Update" placeholder="update">
  </div>
</form>

</div>
</div>
</div>

</body>
</html>