
<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="icon" href="../images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../css/sendit.css" >
  <link rel="stylesheet" type="text/css" href="../css/nav.css" >
  <script src="../js/sendit.js" language="javascript" type="text/javascript"></script>
  <title>SendIt : Profile</title>
</head>
<body>

<div class="row">
<ul id="ui_one">
  <li><img id="template_logo" src="../images/logo_w.png"></li>
  <li><a class="active" href="./manage_parcels.html">Parcels</a></li>
</ul>
<ul id="ui_two">
  <li><h2> Hi Joel, </h2></li>
  <li><a href="./login.html">Logout</a></li>
</ul>
</div>

<div class="row">
<div id="Admintag"><h3>Logged is as an Administrator.</h3></div>
</div>

<div class="row admin">
  <div class="search_form bg_colour">
    <form>
      <div class="inputfield">
     <input type="text" name="search" id="search" placeholder="Search">
  </div>
    </form>
  </div><br>
</div>

<div class="row tablerow">
  <div>
    <table>
<tr>
  <th>Order_ID</th>
  <th>Destination</th>
  <th>Previous checkpoint</th>
  <th>Next checkpoint</th>
  <th>Pick Up Location</th>
  <th>Size</th>
  <th>Price (UGX)</th>
  <th>Status</th>
  <th>Owner</th>
  <th>Expected_delivery_Date</th>
</tr>
<tr>
  <td><a href="./admin_order_details.html">12345</a></td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <th>10kg, 30x25x30cm</th>
  <th>108,000</th>
  <td>Transit</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td><a href="./admin_order_details.html">74936</a></td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <th>17kg, 50x70x30cm</th>
  <th>190,000</th>
  <td>New order</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td><a href="./admin_order_details.html">53749</a></td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <th>10kg, 50x20x30cm</th>
  <th>100,000</th>
  <td>New order</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td><a href="./admin_order_details.html">96413</td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <th>15kg, 50x20x30cm</th>
  <th>160,000</th>
  <td>Delivered</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td><a href="./admin_order_details.html">25347</a></td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <th>12kg, 10x40x30cm</th>
  <th>106,000</th>
  <td>Transit</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td><a href="./admin_order_details.html">23467</a></td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <th>20kg, 10x20x30cm</th>
  <th>180,000</th>
  <td>Delivered</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td><a href="./admin_order_details.html">09812</a></td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <th>10kg, 30x20x30cm</th>
  <th>150,000</th>
  <td>Transit</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td><a href="./admin_order_details.html">34568</a></td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <th>15kg, 50x200x30cm</th>
  <th>200,000</th>
  <td>Transit</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
    </table>
  </div>
</div>

</body>
</html>