
<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="icon" href="../images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../css/sendit.css" >
  <link rel="stylesheet" type="text/css" href="../css/nav.css" >
  <script src="../js/sendit.js" language="javascript" type="text/javascript"></script>
  <title>SendIt : Profile</title>
</head>
<body>

<div class="row">
<ul id="ui_one">
  <li><img id="template_logo" src="../images/logo_w.png"></li>
  <li><a href="./user_profile.html">Profile</a></li>
  <li><a class="active" href="./admin.html">Update order</a></li>
  <li><a href="./create_order.html">Create Order</a></li>
  <li><a href="./owened_orders.html">Order Details</a></li>
</ul>
<ul id="ui_two">
  <li><h2> Admin Joel, </h2></li>
  <li><a href="./login.html">Logout</a></li>
</ul>
</div>

<div class="row" id="Admin_pg">
<div id="admin_list" class="column40">
  <div class="search_form bg_colour">
    <form>
      <div class="inputfield">
     <input type="text" name="search" id="search" placeholder="Search">
  </div>
    </form>
  </div><br>
    <table id="admin_table">
<tr>
  <th>Order_ID</th>
  <th>Current C.P</th>
  <th>Next C.P</th>
  <th>Status</th>
</tr>
<tr>
  <td>12345</td>
  <td>Kangoji</td>
  <td>Kiganda</td>
  <td>Transit</td>
</tr>
<tr>
  <td>74936</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>New order</td>
</tr>
<tr>
  <td>53749</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>New order</td>
</tr>
<tr>
  <td>96413</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Delivered</td>
</tr>
<tr>
  <td>25347</td>
  <td>Kisungu</td>
  <td>Kiganda</td>
  <td>Transit</td>
</tr>
<tr>
  <td>23467</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Delivered</td>
</tr>
<tr>
  <td>09812</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Transit</td>
</tr>
<tr>
  <td>34568</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Transit</td>
</tr>
    </table>
</div>
 </div>

</body>
</html>