
<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="icon" href="../images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../css/sendit.css" >
  <link rel="stylesheet" type="text/css" href="../css/nav.css" >
  <script src="../js/sendit.js" language="javascript" type="text/javascript"></script>
  <title>SendIt : Profile</title>
</head>
<body>

<div class="row">
<ul id="ui_one">
  <li><img id="template_logo" src="../images/logo_w.png"></li>
  <li><a class="active" href="#">Profile</a></li>
  <li><a href="#">Administrator</a></li>
  <li><a href="#">Create Order</a></li>
  <li><a href="#">Order Details</a></li>
</ul>
<ul id="ui_two">
  <li id="logout"><h2> Hi Joel, </h2></li>
  <li id="logout"><a href="#">Logout</a></li>
</ul>
</div>

<div class="row">
  <div>
  <img id="profile_img" src="../images/user.jpg">
  </div>
  <div></div>
</div>

<div class="row tablerow">
  <div>
    <table>
<tr>
  <th>Order_ID</th>
  <th>Destination</th>
  <th>Previous checkpoint</th>
  <th>Next checkpoint</th>
  <th>Pick Up Location</th>
  <th>Owner</th>
  <th>Date_of_order</th>
</tr>
<tr>
  <td>12345</td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Next checkpoint</td>
  <td>Pick Up Location</td>
</tr>
    </table>
  </div>
</div>

</body>
</html>