
<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="icon" href="../images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../css/sendit.css" >
  <link rel="stylesheet" type="text/css" href="../css/nav.css" >
  <script src="../js/sendit.js" language="javascript" type="text/javascript"></script>
  <title>SendIt : Profile</title>
</head>
<body>

<div class="row">
<ul id="ui_one">
  <li><img id="template_logo" src="../images/logo_w.png"></li>
  <li><a class="active" href="#">Profile</a></li>
  <li><a href="#">Administrator</a></li>
  <li><a href="#">Create Order</a></li>
  <li><a href="#">Order Details</a></li>
</ul>
<ul id="ui_two">
  <li id="logout"><h2> Hi Joel, </h2></li>
  <li id="logout"><a href="./login.html">Logout</a></li>
</ul>
</div>

<div class="row profile_row">
  <div id="profile_img_space">
  <img id="profile_img" src="../images/user.jpg">
  </div>
  <div id="profile_info_space">
    <div>
      <table id="profile_info">
        <tr>
          <th>Username: </th>
          <td>Josean</td>
        </tr>
        <tr>
          <th>Name: </th>
          <td>Mugaya Joel</td>
        </tr> 
      </table>
    </div>
  </div>
  
    <div class="right">
      <div class="profile_info_space bg_colour">
      <table id="summary_info_table">
        <tr>
          <th colspan="2">Delivery Orders' Summary</th>
        </tr>
        <tr>
          <td>Delivered</td>
          <td width="20%">2</td>
        </tr>
        <tr>
          <td>In Transit</td>
          <td width="20%">4</td>
        </tr>
        <tr>
          <td>Newly created</td>
          <td width="20%">2</td>
        </tr>
        <tr>
          <td>Total</td>
          <td width="20%">8</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row tablerow">
  <div>
    <table>
<tr>
  <th>Order_ID</th>
  <th>Destination</th>
  <th>Previous checkpoint</th>
  <th>Next checkpoint</th>
  <th>Pick Up Location</th>
  <th>Status</th>
  <th>Owner</th>
  <th>Date_of_order</th>
</tr>
<tr>
  <td>12345</td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Transit</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td>74936</td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>New order</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td>53749</td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>New order</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td>96413</td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Delivered</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td>25347</td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Transit</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td>23467</td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Delivered</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td>09812</td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Transit</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
<tr>
  <td>34568</td>
  <td>Kisungu</td>
  <td>Kangoji</td>
  <td>mosko</td>
  <td>Kiganda</td>
  <td>Transit</td>
  <td>Joel Patrick</td>
  <td>01-01-2020</td>
</tr>
    </table>
  </div>
</div>

</body>
</html>