
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 18px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

ul #template_logo{
    margin-top: 0px;
}

#template_logo img{
    height: 30px;
}

#template_logo a{
    padding: 10px 10px 10px 20px;
}

#ui_one{
	width: 80%;
}

#ui_two{
	padding-left: 5px;
    width: 20%;
}

#ui_two li{
    width: 50%;
overflow: hidden;
}

li h2 {
    color: white;
    margin: 10px;
}

body{
	margin: 0px 5% 0px 5%;
}

@media only screen and (max-width: 1101px){

        #ui_two, #ui_one{
    width: 100%;
      }
    
}